@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dashbord-active {
    @apply bg-pink-500;
    color: white;
    border-radius: 5px;
  }

  .sideBar-nav {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px 30px;
    margin-top: 20px;
  }

  .sideBar-nav:hover {
    padding: 10px 30px;
    border-radius: 5px;
    @apply bg-pink-500;
    color: white;
    transition: all 0.5s;
  }

  .shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  .button {
    @apply bg-pink-500 px-8 py-3 rounded-md font-semibold duration-500 text-white;
  }
  .button:hover {
    background: #000000;
  }
}
