@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dashbord-active {
    background-color: #df1e26;
    color: white;
    border-radius: 5px;
  }

  .sideBar-nav {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px 30px;
  }

  .sideBar-nav:hover {
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #df1e26;
    color: white;
    transition: all 0.5s;
  }
}
